	<h2>Controle de Estoque</h2>

	<!--Botões com as funcionalidades-->
	<div>
		<!--
		<button id="btAdicionarProduto" onclick="mostrarModal(); document.getElementById('adicionarProduto').style.display = 'initial';"><i class="fa fa-plus"></i> Adicionar um produto</button>
		<button id="btCadastrarUsuario" style="display: inline; float: right" onclick="mostrarModal(); document.getElementById('cadastroUsuario').style.display = 'initial';"><i class="fa fa-user-plus"></i> Cadastrar um usuário</button>
		-->

		<form action='transacoes' style="display: inline" method="post">
			<button class='btn btn-light'><i class="fa fa-money"></i> Transações</button>
		</form>
		<button class='btn btn-light' onclick="mostrarModal(); document.getElementById('buscarProduto').style.display = 'initial';"><i class="fa fa-search"></i> Buscar um produto</button>

	</div>
	
	<div id="busca" style="display: none; float: right">
		<br>
		Buscando por <b><i>"<label id='itemBuscado'></label></i></b>" &nbsp; <a href="/">Cancelar</a>
		<br>
		<br>
	</div>

	<script>
		var busca = '{{busca}}';
		if(busca != ''){
			document.getElementById('busca').style.display = 'initial';
			document.getElementById('itemBuscado').innerHTML = busca;
		}
	</script>

	<br>

	<!--Tabela exibindo os produtos-->

	<table class='table table-striped'>
		<thead class='thead-dark'>
			<tr style="background: lightgray">
				<th>ID</th>
				<th>Nome do produto</th>
				<th>Quantidade</th>
				<th>Valor Und.</th>
				<th style="visibility: ">Fazer uma venda</th>
				<th>Controle de estoque</th>
				<th>Editar produto</th>
				<th>Excluir</th>
			</tr>
		</thead>

		<tbody>
		<!--Loop para exibir os dados do banco de dados-->
			{{#data}}
			<tr>
				<td>
					{{id}}
					<input style='display: none;' id='id{{id}}' value = '{{id}}'>
					<input style='display: none;' id='descricao{{id}}' value = '{{descricao}}'>
				</td>
				<td>
					{{nome}}
					<input style='display: none;' id='nome{{id}}' value = '{{nome}}'>
				</td>
				<td>
					{{quantidade}}
					<input style='display: none;' id='quantidade{{id}}' value = '{{quantidade}}'>
				</td>
				<td>
					{{valor}}
					<input style='display: none;' id='valor{{id}}' value = '{{valor}}'>
				</td>
				<td>
					<button class='btVender btn btn-success' data-toggle='modal' data-target='#venderProduto' onclick="document.getElementById('venderProduto').style.display = 'initial'; vender('{{id}}');"><i class="fa fa-dollar"></i> Vender</button>
				</td>
				<td>
					<button class='btEstoque btn btn-secondary' data-toggle='modal' data-target='#editarEstoque' onclick="mostrarModal(); document.getElementById('editarEstoque').style.display = 'initial'; editarEstoque('{{id}}');"><i class="fa fa-archive"></i> Estoque</button>
				</td>
				<td>
					<button class='btEditarProduto btn btn-primary' data-toggle='modal' data-target='#editarProduto' onclick="mostrarModal(); document.getElementById('editarProduto').style.display = 'initial'; editarProduto('{{id}}');"><i class="fa fa-pencil"></i> Editar</button>
				</td>
				<td>
					<button class='btExcluirProduto btn btn-danger' data-toggle='modal' data-target='#excluirProduto' onclick="mostrarModal(); document.getElementById('excluirProduto').style.display = 'initial'; excluirProduto('{{id}}');"><i class="fa fa-trash"></i> Excluir</button>
				</td>
			</tr>
			{{/data}}
			<!--Fim do loop-->
		</tbody>
    </table>
    <!--Fim da Tabela-->

<!-- Modais -->

	<!-- Vender Produto -->
	<div class='modal fade' id="venderProduto" tabindex='-1' role='dialog'>
		<div class='modal-dialog modal-lg' role='document'>
			<div class='modal-content'>

				<div class='modal-header'>
					<h2 class="modal-title center" id="exampleModalLabel">Vender Produto</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class='modal-body'>
					<div class='container'>
						<form name='form4' action='vender' method='post'>
							<div class='form-row'>
								<div class='form-group col-md'>
									<label for='idProdutoVenda'>ID do produto</label>
									<input class='form-control' type="text" name="idProdutoVenda" id="idProdutoVenda" readonly="">
								</div>
								<div class='form-group col-md'>
									<label for='quantidadeEstoqueVenda'>Quantidade em estoque</label>
									<label style="float: left; color: red;"><b id="confirmaValor" style="display: none;"></b></label>
									<input class='form-control' type="number" name="quantidadeEstoqueVenda" id="quantidadeEstoqueVenda" readonly="">
								</div>
							</div>
								
							<div class='form-group'>
								<label for='nomeVenda'>Nome</label>
								<input class='form-control' type="text" name="nomeVenda" id="nomeVenda" readonly="">
							</div>

							<div class='form-row'>
								<div class='form-group col-md'>
									<label class='valorVenda'>Valor Unitário</label>
									<input class='form-control' type="text" name="valorVenda" id="valorVenda" readonly="">
								</div>

								<div class='form-group col-md'>
									<label for='quantidadeVenda'>Quantidade da venda</label>
									<label style="float: left; color: red;"><b id="confirmaQuantidade" style="display: none;"></b></label>
									<input class='form-control' type="number" name="quantidadeVenda" id="quantidadeVenda" placeholder="0" min = 0>
								</div>
							</div>
							<div class='modal-footer'>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">
									<i class="fa fa-close"></i> Cancelar
								</button>
								<button class='btn btn-primary'><i class="fa fa-dollar"></i> Vender</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Vender Produto -->

	<!-- Estoque Produto -->
	<div class='modal fade' id="editarEstoque" tabindex='-1' role='dialog'>
		<div class='modal-dialog modal-lg' role='document'>
			<div class='modal-content'>

				<div class='modal-header'>
					<h2 class="modal-title center" id="exampleModalLabel">Controle de estoque</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class='modal-body'>
					<div class='container'>
						<form name='form3' action='editarEstoque' method='post'>

							<div class='form-group'>
								<label for='nomeEstoque'>Nome</label>
								<input class='form-control' type="text" name="nomeEstoque" id="nomeEstoque" readonly="">
							</div>

							<div class='form-group'>
								<label for='idProdutoEstoque'>ID do produto</label>
								<label><b id="confirmaValor" style="display: none;"></b></label>
								<input class='form-control' type="number" name="idProdutoEstoque" id="idProdutoEstoque" readonly="">
							</div>

							<div class='form-group'>
								<label for='quantidadeEstoque'>Quantidade (sujeito a alteração)</label>
								<label ><b id="confirmaQuantidadeEstoque" style="display: none;"></b></label>
								<input class='form-control' type="number" name="quantidadeEstoque" id="quantidadeEstoque" placeholder="0" min = 0>
							</div>

							<div class='modal-footer'>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">
									<i class="fa fa-close"></i> Cancelar
								</button>
								<button class='btn btn-primary'><i class="fa fa-check"></i> Concluído</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Editar Estoque -->

	<!-- Editar Produto -->
	<div class='modal fade' id="editarProduto" tabindex='-1' role='dialog'>
		<div class='modal-dialog modal-lg' role='document'>
			<div class='modal-content'>

				<div class='modal-header'>
					<h2 class="modal-title center" id="exampleModalLabel">Editar Produto</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class='modal-body'>
					<div class='container'>
						<form name='form2' action='editar' method='post'>
							<div class='form-group'>
								<label for='nomeEditar'>Nome</label>
								<label><b id="confirmaNomeEditar" style="display: none;"></b></label>
								<input class='form-control' type="text" name="nomeEditar" id="nomeEditar">
							</div>

							<div class='form-group'>
								<label for='descricaoEditar'>Descrição</label>
								<label><b id="confirmaDescriçãoEditar" style="display: none;"></b></label><br>
								<textarea class='form-control' name="descricaoEditar" id="descricaoEditar"></textarea>
							</div>

							<div class='form-group'>
								<label for='valorEditar'>Valor</label>
								<label><b id="confirmaValorEditar" style="display: none;"></b></label>
								<input class='form-control' type="text" name="valorEditar" id="valorEditar">
							</div>

							<div class='form-group'>
								<label for='idProdutoEditar'><b>ID do produto</b></label><br>
								<input class='form-control' type="text" name="idProdutoEditar" id="idProdutoEditar" readonly="">
							</div>

							<div class='modal-footer'>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">
									<i class="fa fa-close"></i> Cancelar
								</button>
								<button class='btn btn-primary'><i class="fa fa-pencil"></i> Editar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Editar Produto -->
	<!-- Ecluir Produto -->
	<div class='modal fade' id="excluirProduto" tabindex='-1' role='dialog'>
		<div class='modal-dialog modal-lg' role='document'>
			<div class='modal-content'>

				<div class='modal-header'>
					<h2 class="modal-title center" id="exampleModalLabel">Excluir Produto</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class='modal-body'>
					<div class='container'>

						<div class='form-group'>
							<label for='nomeExcluir'>Nome</label>
							<input class='form-control' type="text" name="nomeExcluir" id="nomeExcluir" disabled="">
						</div>

						<div class='form-group'>
							<label for='idProdutoExcluir'>ID do Produto</label>
							<input class='form-control' type="text" name="idProdutoExcluir" id="idProdutoExcluir" disabled="">
						</div>

						<div class='form-group'>
							<label for='descricaoExcluir'>Descrição</label>
							<textarea class='form-control' name="descricaoExcluir" id="descricaoExcluir" disabled=""></textarea>
						</div>

						<div class='form-group'>
							<label for='valorExcluir'>Valor</label>
							<input class='form-control' type="text" name="valorExcluir" id="valorExcluir" disabled="">
						</div>

						<div class='form-group'>
							<label for='quantidadeExcluir'>Quantidade em estoque</label>
							<input class='form-control' type="text" name="quantidadeExcluir" id="quantidadeExcluir" disabled="">
						</div>

						<div class='modal-footer'>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								<i class="fa fa-close"></i> Cancelar
							</button>
							<button class='btn btn-primary' onclick="window.location.href = 'excluir/' + document.getElementById('idProdutoExcluir').value"><i class="fa fa-trash"></i> Excluir</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fim Exluir Produto -->

	<!--Div do Modal-->

	<div id="modal" class="modal-container">
		<div class="modal">
			<!--Botão para fechar o modal-->
			<button onclick="esconderModal()" class="close"><i class="fa fa-close"></i></button>

			<!--Div para buscar um produto-->

			<div style="display: none;" id="buscarProduto">
				<h3 style="text-align: center;"><b>Buscar um produto</b></h3>
				<label style="padding-bottom: 4px; float: left;"><b>Nome</b></label><br>
              	<label style="float: left; color: red;"><b id="confirmaNomeBusca" style="display: none;"></b></label>
              	<input style="padding: 10px; border: 1px solid #ccc; width: 100%;" type="text" name="nomeBusca" id="nomeBusca">
              	<br><br>
				<button style="padding: 6px; float: right;" onclick="window.location.href = '/' + document.getElementById('nomeBusca').value"><i class="fa fa-search"></i> Buscar</button>
			</div>

			<!--Fim da div para buscar um produto-->





			<!--Div para cadastrar usuário-->

			<div style="display: none;" id="cadastroUsuario">

				<form name='form2' action='cadastrarUsuario' method='post'>
					<div class="section">
			          <h1 style="text-align: center;"><b>Cadastro de um novo usuário<b></h1>
			        </div><br>
			        <div class="section">
			            <label>Tipo</label><br>
			            <select style="width: 40%; border: 1px solid #ccc; padding: 10px" name="tipo_cadastro" id="tipo_cadastro">
	                		<option value="0">Administrador</option>
	                		<option value="1">Gerente</option>
	                		<option value="2">Vendedor</option>
	                		<option value="3">Editor</option>
	                	</select>
			        </div><br>
			        <div class="section">
			          <label>Nome</label><br>
			          <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="nome_cadastro" id="nome_cadastro" required=''>
			        </div><br>
			        <div class="section">
			          <label>Nome de usuário</label><br>
			          <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="usuario_cadastro" id="usuario_cadastro" required=''>
			        </div><br>
			        <div class="section">
			          <label>Senha</label><br>
			          <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="password" name="senha1_cadastro" id="senha1_cadastro" required=''>
			        </div><br>
			        <div class="section">
			          <label>Confirmar senha</label><br>
			          <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="password" name="senha2_cadastro" id="senha2_cadastro" required=''>
			        </div><br><br>
			        <div align="center">
			          <button onclick="esconderModal();" style="padding: 4px" type="button">
			            <i class="fa fa-close"></i>
			            Cancelar
			          </button>
			          <button onclick="return validaSenhas(document.getElementById('senha1_cadastro').value, document.getElementById('senha2_cadastro').value);" style="padding: 4px; margin-left: 2px" type="submit" class="">
			            <i class="fa fa-check"></i>
			            Criar conta
			          </button>
			        </div>
				</form>

			</div>

			<!--Fim da div para cadastrar usuário-->

		</div>
	</div>

	<!--Fim do Modal-->

	<!--JS por usuário-->

	<script>
		function disable_collection (collection) {
			for (i = 0; i < collection.length; i++) {
				collection[i].disabled = true;
			}
		}

	 	const type = '{{type}}';

		if (!(type == 'admin')) {
			document.getElementById('btCadastrarUsuario').disabled = true;
		}

		if (!(type == 'gerente') && !(type == 'admin')) {
			document.getElementById('btAdicionarProduto').disabled = true;
			disable_collection(document.getElementsByClassName('btEditarProduto'))
			disable_collection(document.getElementsByClassName('btExcluirProduto'))
		}

		if (!(type == 'vendedor') && !(type == 'gerente') && !(type == 'admin')) {
			disable_collection(document.getElementsByClassName('btVender'))
		}
		
		if (!(type == 'editor') && !(type == 'gerente') && !(type == 'admin')) {
			disable_collection(document.getElementsByClassName('btEstoque'))
		}

	</script>

	<!--Fim do JS por usuário-->