{{#if erro}}
	<script>alert('{{erro}}')</script>
{{else}}
{{/if}}
{{#if error_msg}}
	<script>alert('{{erro_msg}}')</script>
{{else}}
{{/if}}
{{#if success_msg}}
	<script>alert('{{success_msg}}')</script>
{{else}}
{{/if}}

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
<link href="/css/signin.css" rel="stylesheet">

	<form class="form-signin" action='/usuario/login' method='post'>
	<h2>Controle de Estoque (CRUD)</h2>
		<h2 class="h3 mb-3 font-weight-normal">Entrar</h2>
		<label for="login_login" class="sr-only">Login</label>
		<input type="text" id="login_login" name='login_login' class="form-control" placeholder="Login" required autofocus>
		<label for="senha_login" class="sr-only">Senha</label>
		<input type="password" id="senha_login" name='senha_login' class="form-control" placeholder="Senha" required>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Lembrar meu usuário
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
	</form>