{{#if erro}}
	{{erro}}
{{else}}
{{/if}}
{{#if error_msg}}
	{{erro_msg}}
{{else}}
{{/if}}
{{#if success_msg}}
	{{success_msg}}
{{else}}
{{/if}}

	<h2 style="text-align: center;">Sistema de Controle de Estoque (CRUD)</h2>
				<form action="/usuario/registrar" target="_self" method="POST">
		          <div class="section">
		            <h1><b>Cadastro<b></h1>
		          </div><br>
		          <div class="section">
		            <label for='nome'>Nome</label><br>
		            <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="nome" id="nome">
		          </div>
		          <div class="section">
		            <label for='salario'>Salário</label><br>
		            <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="salario" id="salario">
		          </div>
		          <div class="section">
		            <label for='login'>Login</label><br>
		            <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="text" name="login" id="login">
		          </div>
		          <div class="section">
		            <label for='senha'>Senha</label><br>
		            <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="password" name="senha" id="senha">
		          </div>
		          <div class="section">
		            <label for='senha2'>Confirmar senha</label><br>
		            <input style="width: 90%; border: 1px solid #ccc; padding: 10px" type="password" name="senha2" id="senha2">
		          </div><br>
		          <div align="center">
		            <button onclick="" style="padding: 4px; margin-left: 2px" type="submit" class="">
		              <i class="fa fa-check"></i>
		              Criar conta
		            </button>
                    <button onclick="" style="padding: 4px; margin-left: 2px" class="">
                        <a href='/usuario/form'>Logar</a>
                    </button>
		          </div>
		        </form>