	<h2>Transações</h2>

	<div>
		<form action='home' style="display: inline" method="post">
			<button><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</button>
		</form>
	</div>

    <br>
    
	<table border="1">
        <thead>
            <th width='10%'>ID</th>
            <th>Produto</th>
            <th width='10%'>Quantidade</th>
            <th width='20%'>Data</th>
        </thead>

        <body>
            {{#data}}
            <tr>
                <td>
                    {{id}}
                    <input id='id{{id}}' value = '{{id}}'>
                </td>
                <td>
                    {{nome}}
                    <input id='nome{{id}}' value = '{{nome}}'>
                </td>
                <td>
                    {{quantidade}}
                    <input id='quantidade{{id}}' value = '{{quantidade}}'>
                </td>
                <td>
                    {{data}}
                    <input id='valor{{id}}' value = '{{data}}'>
                </td>
            </tr>
            {{/data}}
        </body>


    </table>
