	<h2>Transações</h2>

    <a id="return" href="/">
        <button class='btn btn-info mb-4'>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
        </button>
    </a>

    
	<table class='table table-striped'>
        <thead class='thead-dark'>
            <th>Usuário</th>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>
        </thead>

        <tbody>
            {{#data}}
            <tr>    
                <td>
                    {{usuario}}
                    <input id='usuario{{id}}' value = '{{usuario}}'>
                </td>
                <td>
                    {{id}}
                    <input id='id{{id}}' value = '{{id}}'>
                </td>
                <td>
                    {{produto}}
                    <input id='nome{{id}}' value = '{{nome}}'>
                </td>
                <td>
                    {{quantidade}}
                    <input id='quantidade{{id}}' value = '{{quantidade}}'>
                </td>
                <td>
                    {{data}}
                    <input id='valor{{id}}' value = '{{data}}'>
                </td>
            </tr>
            {{/data}}
        </tbody>
    </table>
