	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <div clas='row'>
      <a id="return" href="/usuario/info/{{oid}}">
          <button class='btn btn-info mb-4'>
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
          </button>
      </a>
    </div>
    <h2>Gráfico do mês ({{omes}}/{{oano}})</h2>
    <canvas id="myChart" width="400" height="150"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var a = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
    {{#data}}
        a[{{dia}}] += {{valor}}
    {{/data}}
    var b = [29, 30, 31];
    if({{omes}} == 4 || {{omes}} == 6 || {{omes}} == 9 || {{omes}} == 11){
         b[2] = '-';
    }else{
        if({{omes}} == 2){
            if({{oano}} % 4 == 0){
                b[0] = '29';
                b[1] = '-';
                b[2] = '-';
            }else{
                b[0] = '-';
                b[1] = '-';
                b[2] = '-';
            }
        }
    }
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,b[0],b[1],b[2]],
            datasets: [{
                label: 'R$ (reais)',
                data: [a[0],a[1],a[2],a[3],a[4],a[5],a[6],a[7],a[8],a[9],a[10],a[11],a[12],a[13],a[14],a[15],a[16],a[17],a[18],a[19],a[20],a[21],a[22],a[23],a[24],a[25],a[26],a[27],a[28],a[29],a[30]],
                backgroundColor: 'rgba(23, 162, 184, 0.2)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    if({{omes}} == 4 || {{omes}} == 6 || {{omes}} == 9 || {{omes}} == 11){
        myChart.data.labels.splice(-1, 1);
        myChart.data.datasets.forEach(function(dataset) {
            dataset.data.pop();
        });
	    window.myChart.update();
    }else{
        if({{omes}} == 2){
            if({{oano}} % 4 == 0){
                myChart.data.labels.splice(-2, 2);
                myChart.data.datasets.forEach(function(dataset) {
                    dataset.data.pop();
                    dataset.data.pop();
                });
                window.myChart.update();
            }else{
                myChart.data.labels.splice(-3, 3);
                myChart.data.datasets.forEach(function(dataset) {
                    dataset.data.pop();
                    dataset.data.pop();
                    dataset.data.pop();
                });
                window.myChart.update();
            }
        }
    }

    
    </script>

          
