    <h2>Informações do Usuário</h2>

    <div clas='row'>
      <a id="return" href="/usuario/listar">
          <button class='btn btn-info mb-4'>
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
          </button>
      </a>
    </div>
    <div class="jumbotron">
        <h2 style="margin-top: -30px;">Gráficos</h2><br>
        <form style="display: none" id="form_mes" name='form1' action='/usuario/graficoMensal' method='post'>
            <input name="id_usuario" style="display: none" value="{{id_usuario}}">
            <input id="mes_grafico2" name="mes_grafico">
            <input id="ano_grafico2" name="ano_grafico">
        </form>
        <form style="text-align: center;" id="form_ano" name='form1' action='/usuario/graficoAnual' method='post'>
            <input name="id_usuario" style="display: none" value="{{id_usuario}}">
            <select style="width: 130px;" id="mes_grafico" name="mes_grafico" class="btn btn-dark">
                <option id="mes1" value="1">Janeiro</option> 
                <option id="mes2" value="2">Feveieiro</option>
                <option id="mes3" value="3">Março</option>
                <option id="mes4" value="4">Abril</option>
                <option id="mes5" value="5">Maio</option>
                <option id="mes6" value="6">Junho</option>
                <option id="mes7" value="7">Julho</option>
                <option id="mes8" value="8">Agosto</option>
                <option id="mes9" value="9">Setembro</option>
                <option id="mes10" value="10">Outubro</option>
                <option id="mes11" value="11">Novembro</option>
                <option id="mes12" value="12">Dezembro</option>
            </select>
            <select style="width: 130px;" id="ano_grafico" name="ano_grafico" class="btn btn-dark">
            </select>
        </form>
        <div style="text-align: center;"><br>
            <button onclick="check()" class="btn btn-info"><i class="fa fa-line-chart"></i> Grágico por mês</button>
            <button onclick="document.getElementById('form_ano').submit();" class="btn btn-info"><i class="fa fa-line-chart"></i> Grágico por ano</button>
        </div>
    </div>
    <script>
        var data = new Date();
        var ano_atual = data.getFullYear();
        var mes_atual = data.getMonth() + 1;
        document.getElementById("mes" + mes_atual).selected = true;
        function check(){
            document.getElementById("mes_grafico2").value = document.getElementById("mes_grafico").value;
            document.getElementById("ano_grafico2").value = document.getElementById("ano_grafico").value;
            if(document.getElementById("ano_grafico").value == ano_atual){
                if(document.getElementById("mes_grafico").value > mes_atual){
                    alert("Não podemos ver o futuro! Por favor, mude a data.");
                }else{
                    document.getElementById("form_mes").submit();
                }
            }else{
                document.getElementById("form_mes").submit();
            }
        }
        var menor_ano = {{menor_ano.ano}};
        var htmls = "";
        for(var i = ano_atual; i>=menor_ano; i--){
            htmls += "<option value='" + i + "'>" + i + "</option>"
        }
        document.getElementById("ano_grafico").innerHTML = htmls;
    </script>

	<table class='table table-striped'>
        <thead class='thead-dark'>
            <th>Nome</th>
            <th>Criado em</th>
            <th>Ultimo Login</th>
            <th>Salário Mensal</th>
            <th>Vendas Mês Anterior</th>
            <th>Vendas Mês atual</th>
        </thead>

        <tbody>
            <tr>    
                <td>
                    {{user.dataValues.nome}}
                </td>
                <td>
                    {{user.dataValues.createdAt}}
                </td>
                <td>
                    {{user.dataValues.ultimo_login}}
                </td>
                <td>
                    R$ {{user.dataValues.salario_mensal}}
                </td>
                <td>
                    R$ {{mes_anteior.valor}}
                </td>
                <td>
                    R$ {{mes_atual.valor}}
                </td>
        </tbody>
    </table>


    <br><br><h3>Operações</h3>

    <table class='table table-striped'>
        <thead class='thead-dark'>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Custo</th>
            <th>Valor</th>
            <th>Operação</th>
            <th>Data</th>
        </thead>

        <tbody>
            {{#operacoes}}
            <tr>
                <td> {{ produto }} </td>
                <td> {{ quantidade }} </td>
                <td> {{ custo }} </td>
                <td> {{ valor }} </td>
                <td> {{ operacao }} </td>
                <td> {{ data }} </td>
            </tr>
            {{/operacoes}}
        </tbody>

    </table>        
